@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PacketOff</h1>

     <p>We are super shop for super customers and selling we super bags</p>
</div>
